html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: $neutral;
    color: $primary;
    font-size: 16px;
    line-height: 1.6;
    @extend %quicksand-500;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.section {
    padding: 123px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header--page-404 {
    background-color: $secondary;
}

.btn,
.btn-small {
    background-color: $accent;
    color: $neutral;
    box-shadow: rgba($accent, 0.3) 0px 8px 24px 0px;
    text-transform: uppercase;
    @extend %roboto-400;
}

.btn {
    letter-spacing: 0.2em;
    padding: 15px 25px;
}

.btn-small {
    letter-spacing: 0.05em;
    padding: 7px 10px;
}

.btn-white {
    background-color: $neutral;
    color: $primaryDark;
    border: 1px solid $accent;
    padding: 20px 30px;
    text-transform: uppercase;
    line-height: 1.2;
    @extend %roboto-400;
    letter-spacing: 0.2em;
}

.title {
    @extend %roboto-700;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1.6;
    color: $primaryDark;
    text-align: center;
    margin-bottom: 20px;
}

.text {
    text-align: center;
    margin: 0 auto 60px;
    max-width: 570px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.breadcrumbs {
    display: inline-flex;
    justify-content: center;
    padding-left: 22px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url('../images/icons/home.svg');
        width: 16px;
        height: 16px;
        left: 0;
        top: 4px;
    }

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        padding-right: 40px;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../images/icons/arrows-right.svg');
            width: 9px;
            height: 10px;
            right: 15px;
            top: 9px;
        }

        &:not(:last-child) {
            margin-right: 3px;
        }

        &:last-child {
            color: $accent;
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center
    }

    &__icon {
        fill: $primary;

        margin-right: 7px;

    }
}