$primary: #8d8d8d;
$primaryDark: #29282d;
$primaryDarker: #292929;
/* $primaryLight: #757575;  */

$secondary: #f6f6f6;
/* $secondaryDark: #2F303A; */

$accent: #fe3e57;
$accentDark: #5800e4;
$accentYellow: #ffb534;
$accentBlue: #34c3ff;

$neutral: #FFFFFF;
$neutralDark: #ECECEC;
/* $neutralLight: #ECECEC;
$neutralLighter: #F5F4FA;
$neutralLightest: #E5E5E5; */

%quicksand-400 {
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
}

%quicksand-500 {
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
}

%roboto-400 {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%roboto-500 {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

%roboto-700 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}