.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    color: $primaryDark;

    &__list {
        display: flex;
    }

    &__list-item:not(:last-child) {
        margin-right: 35px;
    }

    &__list-link {
        text-transform: uppercase;
        transition: color 0.5s border-bottom 0.5s font-weight 0.5s;
        @extend %roboto-400;

        &:hover,
        &.current {
            color: $accent;
            border-bottom: 1px solid $accent;
        }

        &.current {
            @extend %roboto-700;
        }
    }
}

.user-nav {
    display: flex;
    justify-content: space-between;

    &__link {
        position: relative;
    }

    &__link:not(:last-child) {
        margin-right: 25px;
    }

    &__number {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        top: -10px;
        right: -12px;
        font-size: 12px;
        color: $neutral;
        text-align: center;
        @extend %quicksand-500;
    }
}