.product {
    text-align: center;

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 50px;
    }
}

.stars {
    margin-bottom: 20px;
}